{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>

    <style type="text/css">
        #datatable tbody tr {
            cursor: pointer;
        }

        #datatable_filter,
        #hidden_form {
            display: none;
        }

        #datatable .div-check-send {
            width: 100%;
            text-align: center;
        }

        .notifications_buttons {
            padding-bottom: 10px;
        }

        .select_all {
            text-align: center;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABLES SCRIPT ... -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            var table = $('#datatable').DataTable({
                columns: [
                    {data: "id", "searchable": false}
                    , {data: "user_id", "searchable": false}
                    , {data: "user_email", "searchable": false}
                    , {data: "name", "searchable": false}
                    , {data: "page", "searchable": false}
                    , {data: "target", "searchable": false}
                    , {data: "action", "searchable": false}
                    , {data: "ip", "searchable": false}
                    , {data: "created_at", "searchable": false}
                ]
                , order: [[8, "desc"]]
                , processing: true
                , serverSide: true
                , ajax: {
                    url: '{{ backend_url('events_log/get_events') }}',
                    type: 'POST'
                }
                , language: {
                    search: "Search:"
                }
            });

            $('#datatable tbody').on('click', 'td', function () {
                var eventId = table.row($(this).parents('tr')[0]).data().id;
                window.location.href = '{{ backend_url('events_log/info') }}/' + eventId;
            });

            function search(el, column) {
                $(el).bind('keyup', function (e) {
                    if (this.value.length >= 3 || e.keyCode == 13) {
                        // Call the API search function
                        table.column(column).search(this.value).draw();
                    }

                    // Ensure we clear the search if they backspace far enough
                    if (this.value == "")
                        table.column(column).search("").draw();

                    return;
                });
            }

//            search('#search_by_id', 1);
//            search('#search_by_name', 2);
//            search('#search_by_private_id', 3);
//            search('#search_by_public_id', 4);

        });
    </script>
{% endblock %}

{% set active_page='events_log' %}
{% set breadcrumbs = [{'title': 'Events Log', 'link': ''}] %}


{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Events table</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                      {#  <form>
                            <div class="form-group col-sm-3">
                                <label for="search_by_id" class="control-label">Filter by ID</label>
                                <input type="text" id="search_by_id" class="form-control" name="search_by_id"
                                       placeholder="123" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by Nickname</label>
                                <input type="text" id="search_by_name" class="form-control"
                                       name="search_by_name"
                                       placeholder="alex" value=""/>
                            </div>
                        </form>#}
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="datatable" class="table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>User email</th>
                                    <th>Event Name</th>
                                    <th>Page URL</th>
                                    <th>Target URL</th>
                                    <th>Action</th>
                                    <th>IP</th>
                                    <th>Created At</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>User email</th>
                                    <th>Event Name</th>
                                    <th>Page URL</th>
                                    <th>Target URL</th>
                                    <th>Action</th>
                                    <th>IP</th>
                                    <th>Created At</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}