{% extends 'layout.twig' %}

{% set active_page='events_log' %}
{% set breadcrumbs = [{'title': 'Events Log', 'link': 'events_log'}, {'title': 'Event: #'~event.id}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Event Id: {{ event.id }}
                        {#<small>Public Id: {{ account.public_id }}</small>#}
                    </h3>
                </div>

                <div class="box-body">
                    <pre>{{ event.post|raw }}</pre>
                </div>


                <!-- /.box-body -->

                <div class="box-footer">
                    <a class="btn btn-default" href="{{ backend_url('events_log') }}">Back</a>
                </div>

            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}