{% extends 'layout.twig' %}

{% set active_page='users/create' %}
{% set breadcrumbs = [{'title': 'Create user', 'link': ''}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Create user form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{{ backend_url('users/create') }}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ set_value('email') }}">
                        </div>
                        <input type="hidden" name="groups[]" value="1">
                        {#<div class="form-group">
                            <label>User groups</label>

                            <div class="checkbox">
                                {% for group in _user_groups %}
                                    <label>
                                        <input type="checkbox" name="groups[]"
                                               value="{{ group.id }}"> {{ group.description }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>#}
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name" value="{{ set_value('first_name') }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name" value="{{ set_value('last_name') }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Password confirm</label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Enter password confirm">
                        </div>

                        <div>
                            {% if validation_errors %}
                                <div class="alert alert-danger">
                                    {{ validation_errors|raw }}
                                </div>
                            {% endif %}
                            {% if messages %}
                                <div class="alert alert-info">
                                    {{ messages|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>


            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}