{% extends 'layout.twig' %}

{% set active_page='#users' %}
{% set breadcrumbs = [{'title': 'Users by group - '~currentGroups[0].description, 'link': 'users/group/'~currentGroups[0].id}, {'title': 'Edit user', 'link': ''}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit User</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{{ base_url('backend/users/edit/'~user.id) }}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Email</label>

                            <p class="form-control-static">{{ user.email }}</p>
                        </div>
                        <input type="hidden" name="groups[]" value="1">
                       {# <div class="form-group">
                            <label>User groups</label>

                            <div class="checkbox">
                                {% for group in _user_groups %}
                                    {% set checked = '' %}
                                    {% for c_group in currentGroups %}
                                        {% if c_group.id == group.id %}
                                            {% set checked = 'checked' %}
                                        {% endif %}
                                    {% endfor %}

                                    <label>
                                        <input type="checkbox" name="groups[]"
                                               value="{{ group.id }}" {{ checked }}> {{ group.description }}
                                    </label>

                                {% endfor %}
                            </div>
                        </div>#}


                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                   placeholder="Enter first name" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                   placeholder="Enter last name" value="{{ user.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Password confirm</label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                                   placeholder="Enter password confirm">
                        </div>

                        <div>
                            {% if validation_errors %}
                                <div class="alert alert-danger">
                                    {{ validation_errors|raw }}
                                </div>
                            {% endif %}
                            {% if messages %}
                                <div class="alert alert-info">
                                    {{ messages|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        {% if user.id != _user.id %}
                            <div class="pull-right">

                                {% if user.deleted == 1 %}
                                    <a href="#"
                                       class="btn text-danger btn-confirm">Delete</a>
                                    <a href="{{ backend_url('users/delete/'~user.id) }}" class="btn btn-danger hidden">Confirm
                                        delete</a>
                                {% else %}
                                    <a href="{{ backend_url('users/delete/'~user.id) }}"
                                       class="btn btn-danger track-event">Delete</a>
                                {% endif %}

                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}