{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABES SCRIPT -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#datatable,#datatable2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });
    </script>
{% endblock %}

{% set active_page='users/group/'~group.id %}
{% set breadcrumbs = [{'title': 'Users by group - '~group.description, 'link': ''}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Group - {{ group.description ~ ' (alias:' ~ group.name ~ ')' }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                            <li><a href="#deleted" aria-controls="deleted" role="tab" data-toggle="tab">Deleted</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <table id="datatable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Created on</th>
                                        <th>Last login</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.created_on|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ user.last_login|date('Y-m-d H:i:s') }}</td>
                                            <th>
                                                <a class="btn btn-default" href="{{ base_url('backend/users/edit/'~user.id) }}">
                                                    <i class="fa fa-edit"></i></a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Created on</th>
                                        <th>Last login</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="deleted">
                                <table id="datatable2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Created on</th>
                                        <th>Last login</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in deleted_users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.created_on|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ user.last_login|date('Y-m-d H:i:s') }}</td>
                                            <th>
                                                <a class="btn btn-default" href="{{ base_url('backend/users/edit/'~user.id) }}">
                                                    <i class="fa fa-edit"></i></a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Created on</th>
                                        <th>Last login</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>



                </div>
                <!-- /.box-body -->


            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}