{% set active_page = active_page|default('') %}
{% for item in _side_bar %}

    {% if item.nested is iterable %}

        {# Dropdown #}
        {% set class_active_page = '' %}
        {% for item_dropdown in item.nested %}
            {% if item_dropdown.link and (item_dropdown.link == active_page or item.link == active_page) %}
                {% set class_active_page = 'active' %}
            {% endif %}
        {% endfor %}

        <li class="treeview {{ class_active_page }}"><a
                    href="#" class="{{ item.class }}"><span>{{ item.title|raw }}</span> <i
                        class="fa fa-angle-left pull-right"></i></a>

            <ul class="treeview-menu">
                {% for item_dropdown in item.nested %}

                    {% if item_dropdown.title == 'divider' %}
                        <li class="divider"></li>
                    {% elseif item_dropdown.ext_link %}
                        <li>
                            <a href="{{ item_dropdown.ext_link }}" target="_blank" class="{{ item_dropdown.class }}">
                                {{ (item_dropdown.icon?'<i class="'~item_dropdown.icon~'"></i>')|raw }}
                                <span>{{ item_dropdown.title|raw }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li {% if item_dropdown.link == active_page %}class="active"{% endif %}>
                            <a href="{{ backend_url(item_dropdown.link) }}" class="{{ item_dropdown.class }}">
                                {{ (item_dropdown.icon?'<i class="'~item_dropdown.icon~'"></i>')|raw }}
                                <span>{{ item_dropdown.title|raw }}</span>
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>

        </li>
    {% else %}
        {# Simple menu #}
        <li class="{% if item.link == active_page %}active{% endif %}">
            <a href="{{ backend_url(item.link) }}" class="{{ item.class }}">
                {{ (item.icon?'<i class="'~item.icon~'"></i>')|raw }}
                <span>{{ item.title|raw }}</span>
            </a>
        </li>
    {% endif %}

{% endfor %}