{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/datepicker/datepicker3.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/timepicker/bootstrap-timepicker.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <style type="text/css">
        #datatable_filter, #hidden_form {
            display: none;
        }

        #datatable .div-check-send {
            width: 100%;
            text-align: center;
        }

        .notifications_buttons {
            padding-bottom: 10px;
        }

        .select_all {
            text-align: center;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABLES SCRIPT ... -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/datepicker/bootstrap-datepicker.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/timepicker/bootstrap-timepicker.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/date.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            var table = $('#datatable').DataTable({
                columns: [
                    {data: "id", "searchable": false}
                    , {data: "customer_id", "searchable": false}
                    , {data: "amount", "searchable": false}
                    , {data: "created_at", "searchable": false}
                ]
                , order: [[3, "desc"]]
                , processing: true
                , serverSide: true
                , ajax: {
                    url: '{{ backend_url('transactions/get_list') }}',
                    type: 'POST'
                }
                , language: {
                    search: "Search by CPN:"
                }
                , fnDrawCallback: function () {
                }
            });

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').bind('keyup', function (e) {
                table.draw();
            });

            function search(el, column, suffix) {
                $(el).bind('keyup', function (e) {
                    if (this.value.length >= 2 || e.keyCode == 13) {
                        // Call the API search function
                        if (suffix.length > 0)
                            table.column(column).search(suffix + this.value).draw();
                        else
                            table.column(column).search(this.value).draw();
                    }

                    // Ensure we clear the search if they backspace far enough
                    if (this.value == "")
                        table.column(column).search("").draw();

                    return;
                });
            }

            function toTimestamp(strDate){
                var datum = Date.parse(strDate);
                return datum/1000;
            }

            search('#search_by_id', 0, '');
            search('#search_by_customer_id', 1, '');
            search('#amount_min', 2, '>=');
            search('#amount_max', 2, '<');

            $('#date_min').datepicker({
                weekStart: 0,
                startDate: -Infinity,
                format: "mm/dd/yyyy",
                todayHighlight: true
            }).on('changeDate', function(e) {
                var d = new Date(e.date).getTime() / 1000;
                // `e` here contains the extra attributes
                if(e.timeStamp > 0)
                    table.column(3).search('>='+d).draw();
                else
                    table.column(3).search('').draw();
            });

            $('#date_max').datepicker({
                weekStart: 0,
                startDate: -Infinity,
                format: "mm/dd/yyyy",
                todayHighlight: true
            }).on('changeDate', function(e) {
                var d = new Date(e.date).getTime() / 1000;
                // `e` here contains the extra attributes
                if(e.timeStamp > 0)
                    table.column(3).search('<'+d).draw();
                else
                    table.column(3).search('').draw();
            });

        });
    </script>
{% endblock %}

{% set active_page='transactions' %}
{% set breadcrumbs = [{'title': 'Transactions', 'link': ''}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Transactions table</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="form-group col-sm-3">
                                <label for="search_by_id" class="control-label">Filter by ID</label>
                                <input type="text" id="search_by_id" class="form-control" name="search_by_id"
                                       placeholder="13" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by Customer ID</label>
                                <input type="text" id="search_by_customer_id" class="form-control"
                                       name="search_by_customer_id"
                                       placeholder="29" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by Amount</label>
                                <input type="text" id="search_by_amount" class="form-control"
                                       name="search_by_amount"
                                       placeholder="500" value=""/>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <form>
                            <div class="form-group col-sm-3">
                                <label for="amount_min" class="control-label">Amount from: </label>
                                <input type="text" class="form-control"
                                       id="amount_min" name="amount_min"
                                       placeholder="500" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="amount_max" class="control-label">Amount to</label>
                                <input type="text" class="form-control"
                                       id="amount_max" name="amount_max"
                                       placeholder="500" value=""/>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <form>
                            <div class="form-group col-sm-3">
                                <label for="date_min" class="control-label">Date from: </label>
                                <div class="input-group date" id="date_min">
                                    <input type="text"
                                           name="date_min"
                                           value=""
                                           class="form-control">
                                    <span class="input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">

                                <label for="date_min" class="control-label">Date to: </label>
                                <div class="input-group date" id="date_max">
                                    <input type="text"
                                           name="date_max"
                                           value=""
                                           class="form-control">
                                    <span class="input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="datatable" class="table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CustomerID</th>
                                    <th>Amount</th>
                                    <th>Created At</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>CustomerID</th>
                                    <th>Amount</th>
                                    <th>Created At</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}