<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin | New password</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/iCheck/square/blue.css') }}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ base_url('backend') }}"><b>Admin</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">New password created</p>
        <form>
            <div class="form-group has-feedback">
                <p>This is your new password. Copy it for login. You can change password after enter to the admin panel.</p>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Password" name="password" disabled="disabled" value="{{ new_password }}"/>
            </div>
        </form>

        <div class="text-center">
            {% if validation_errors %}
                <div class="alert alert-danger">
                    {{ validation_errors|raw }}
                </div>
            {% endif %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages|raw }}
                </div>
            {% endif %}
        </div>

        <a href="{{ backend_url('auth') }}">Login page</a>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<!-- jQuery 2.1.3 -->
<script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/jQuery/jQuery-2.1.3.min.js') }}"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="{{ base_url('assets/backend/AdminLTE-2.0.4/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<!-- iCheck -->
<script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/iCheck/icheck.min.js') }}" type="text/javascript"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>