{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Profile</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{{ base_url('backend/auth/profile') }}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Email</label>
                            <p class="form-control-static">{{ user.email }}</p>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name" value="{{ user.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Password confirm</label>
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Enter password confirm">
                        </div>

                        <div>
                            {% if validation_errors %}
                                <div class="alert alert-danger">
                                    {{ validation_errors|raw }}
                                </div>
                            {% endif %}
                            {% if messages %}
                                <div class="alert alert-info">
                                    {{ messages|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}