{% extends 'layout.twig' %}

{% set active_page='players' %}
{% set breadcrumbs = [{'title': 'Players', 'link': 'players'}, {'title': 'Edit player: #'~account.id}] %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Player Id: {{ account.id }}
                        {#<small>Public Id: {{ account.public_id }}</small>#}
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{{ base_url('backend/players/edit/'~account.id) }}" method="post">
                    <div class="box-body">
                        <input type="hidden" name="player_id" value="{{ account.id }}">
{#

                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-sm-2 control-label" style="text-align: left;">Hearts Amount:</label>

                                <div class="col-sm-9">
                                    <p class="form-control-static">{{ player.hearts }}</p>
                                </div>
                            </div>
                        </div>
#}


{#                        <div class="form-group">
                            <label>Medals change amount (current value: {{ player.medals }})</label>

                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="medals_change_amount"
                                           placeholder="" value="{{ set_value('medals_change_amount', 0) }}">
                                </div>
                            </div>
                            <span class="help-block">Enter negative value for decrease credits, or positive for increase. Possible values, ex.: -50 or 150</span>
                        </div>

                        <div class="form-group">
                            <label>Love coins purchased change amount (current value: {{ player.love_coins }})</label>

                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="love_coins_change_amount"
                                           placeholder="" value="{{ set_value('love_coins_change_amount', 0) }}">
                                </div>
                            </div>
                            <span class="help-block">Enter negative value for decrease credits, or positive for increase. Possible values, ex.: -50 or 150</span>
                        </div>#}

{#                        <div class="form-group">
                            <label>Love coins gifted change amount (current value: {{ player.free_coins }})</label>

                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="free_coins_change_amount"
                                           placeholder="" value="{{ set_value('free_coins_change_amount', 0) }}">
                                </div>
                            </div>
                            <span class="help-block">Enter negative value for decrease credits, or positive for increase. Possible values, ex.: -50 or 150</span>
                        </div>#}

                        <div class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-sm-2 control-label" style="text-align: left;">Is Deleted</label>

                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <input type="checkbox" name="is_deleted" style="margin-left: 0"
                                               value="1" {{ set_checkbox('is_deleted', account.is_deleted, (account.is_deleted == 1)) }}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {#                        <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="disabled"
                                                                   value="1" {{ (player.disabled == 1)?'checked' }}> <strong>Set player Blocked
                                                                state</strong>
                                                        </label>
                                                    </div>
                                                </div>#}

                        <div>
                            {% if validation_errors %}
                                <div class="alert alert-danger">
                                    {{ validation_errors|raw }}
                                </div>
                            {% endif %}
                            {% if messages %}
                                <div class="alert alert-info">
                                    {{ messages|raw }}
                                </div>
                            {% endif %}
                        </div>


                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a class="btn btn-default" href="{{ backend_url('players') }}">Back</a>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                        {#<div>
                            <a href="#"
                               class="btn btn-danger btn-confirm">Delete Player</a>
                            <a href="{{ backend_url('players/delete/'~account.id) }}" class="btn btn-danger hidden">I
                                want permanently delete all player data</a>

                        </div>#}
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}