{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>

    <style type="text/css">
        #datatable tbody tr {
            cursor: pointer;
        }

        #datatable_filter,
        #hidden_form {
            display: none;
        }

        #datatable .div-check-send {
            width: 100%;
            text-align: center;
        }

        .notifications_buttons {
            padding-bottom: 10px;
        }

        .select_all {
            text-align: center;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABLES SCRIPT ... -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            var checkBoxes = {
                arrayNumbers: [],
                btnText: '',
                checkClass: 'checked',
                selectAllBtn: $('#example-select-all'),
                init: function (players_ids_str) {
                    var me = this;
                    if (players_ids_str.length > 0)
                        this.arrayNumbers = players_ids_str.split(',');
                    me.setTextCount();
                }
                , changeArrayNumbers: function (tr) {

                    var checkDiv = tr.find('input[type=checkbox]'),
                            id = checkDiv.val();

                    var index = this.arrayNumbers.indexOf(id);

                    if (checkDiv.prop("checked")) {
                        if (index == -1)
                            this.arrayNumbers.push(id);
                    } else {

                        if (index > -1)
                            this.arrayNumbers.splice(index, 1);
                    }
                    console.log(this.arrayNumbers);
                    this.setTextCount();
                    this.isAllChecked();
                },

                selectAll: function (checkAll) {
                    var thisFlag = false,
                            me = this,
                            checked = false;

                    /* if (this.isAllChecked()) {
                     thisFlag = true;
                     }*/
                    /*if (thisFlag == checkAll.prop( "checked" )) {
                     // check all
                     }*/
                    checked = checkAll.checked;
                    console.log(checked);

                    $('td').find('input[type=checkbox]').each(function () {

                        var checkbox = $(this).closest('tr').find('input[type=checkbox]'),
                                id = checkbox.val();

                        var index = me.arrayNumbers.indexOf(id);

                        if (checked == false) {
                            checkbox.prop('checked', false);

                            if (index > -1)
                                me.arrayNumbers.splice(index, 1);
                        } else {
                            checkbox.prop('checked', true);
                            if (index == -1)
                                me.arrayNumbers.push(id);
                        }
                    });

                    me.setTextCount();
                    console.log(me.arrayNumbers);
                },

                deselectAll: function () {
                    var me = this;

                    me.selectAllBtn.prop('checked', false);

                    $('td').find('input[type=checkbox]').each(function () {
                        var checkbox = $(this).closest('tr').find('input[type=checkbox]');
                        checkbox.prop('checked', false);

                        me.arrayNumbers = [];
                    });

                    me.setTextCount();
                    console.log(me.arrayNumbers);
                },

                checkedHeadCheckboxes: function (flag) {
                    var me = this;
                    me.selectAllBtn.prop("checked", flag);
                },

                isAllChecked: function () {
                    var bResult = true,
                            me = this;

                    $('td').find('input[type=checkbox]').each(function () {
                        if (!$(this).prop("checked"))
                            bResult = false;
                    });

                    /* if (!$('td').find('input[type=checkbox]').length) {
                     bResult = false;
                     $('th').find('input[type=checkbox]').hide();
                     } else {
                     $('th').find('input[type=checkbox]').show();
                     }*/

                    this.checkedHeadCheckboxes(bResult);
                    return bResult;
                },

                getCount: function () {
                    var i = 0;
                    for (var key in this.arrayNumbers) {
                        ++i;
                    }
                    return i;
                },

                setTextCount: function () {
                    if (this.btnText == '') {
                        this.btnText = $('#send_selected_players').text();
                    }

                    $('#send_selected_players').text(this.btnText + ' (' + this.getCount() + ')');
                },

                hasId: function (id) {
                    if (this.arrayNumbers.indexOf(id) > -1)
                        return true;
                    return false;
                },

                getArray: function () {
                    return this.arrayNumbers.join(',');
                }
            };

            // init pre-default check values
            checkBoxes.init("{{ set_value('players_ids', '') }}");

            var table = $('#datatable').DataTable({
                columns: [
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        visible: false,
                        className: 'dt-body-center',
                        render: function (data, type, full, meta) {
                            var checked = checkBoxes.hasId(data.id) ? 'checked="checked"' : '';
                            return '<input type="checkbox" name="id[]" value="' + data.id + '"' + checked + '>';
                        }
                    }
                    , {data: "id", "searchable": false}
                    , {data: "name", "searchable": false}
                    , {data: "cnp", "searchable": false}
                    , {data: "sum", "searchable": false}
                    , {data: "updated_at", "searchable": false}
                    , {data: "created_at", "searchable": false}
                    , {
                        data: null,
                        searchable: false,
                        sortable: false,
                        visible: false,
                        render: function (data, type, full, meta) {
                            var html = '';
                            html += '<a href="{{ backend_url('customers/history') }}/' + data.id + '"><i class="fa fa-fw fa-clock-o"></i> Balance History</a>';
                            html += ' <a href="{{ backend_url('customers/login_log') }}/' + data.id + '"><i class="fa fa-fw fa-sign-in"></i> Login Log</a>';
                            return html;
                        }
                    }
                ]
                , order: [[1, "desc"]]
                , processing: true
                , serverSide: true
                , ajax: {
                    url: '{{ backend_url('customers/get_list') }}',
                    type: 'POST'
                }
                , language: {
                    search: "Search by CPN:"
                }
                , fnDrawCallback: function () {
                    checkBoxes.isAllChecked();
                }
            });

            $('#datatable tbody').on('click', 'td', function () {
                var me = $(this),
                        checkboxDiv = me.find('input[type=checkbox]'),
                        idPlayer = table.row($(this).parents('tr')[0]).data().id;

                if (checkboxDiv.length != 0) {
                    checkBoxes.changeArrayNumbers(me.closest('tr'));
                    return;
                }

                //window.location.href = '{{ backend_url('customers/info') }}/' + idPlayer;
            });

            function search(el, column) {
                $(el).bind('keyup', function (e) {
                    if (this.value.length >= 2 || e.keyCode == 13) {
                        // Call the API search function
                        table.column(column).search(this.value).draw();
                    }

                    // Ensure we clear the search if they backspace far enough
                    if (this.value == "")
                        table.column(column).search("").draw();

                    return;
                });
            }

            search('#search_by_id', 1);
            search('#search_by_name', 2);
            search('#search_by_cnp', 3);


            $('#example-select-all').on('click', function () {
                checkBoxes.selectAll(this);
            });

            $('#clear_player_selection').on('click', function () {
                checkBoxes.deselectAll(this);
            });


            $('#send_selected_customers').click(function () {
                var data = checkBoxes.getArray();

                $('#gifts_form input[name=customers_ids]').val(data);

                /*if (data.length == 0)
                 return false;*/

                $('#gifts_form').submit();
            });
        });
    </script>
{% endblock %}

{% set active_page='customers' %}
{% set breadcrumbs = [{'title': 'customers', 'link': ''}] %}


{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Customers table</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="form-group col-sm-3">
                                <label for="search_by_id" class="control-label">Filter by ID</label>
                                <input type="text" id="search_by_id" class="form-control" name="search_by_id"
                                       placeholder="29" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by Name</label>
                                <input type="text" id="search_by_name" class="form-control"
                                       name="search_by_name"
                                       placeholder="Dylan" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by CNP</label>
                                <input type="text" id="search_by_cnp" class="form-control"
                                       name="search_by_name"
                                       placeholder="1840717375472" value=""/>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="datatable" class="table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>CNP</th>
                                    <th>Transactions SUM</th>
                                    <th>Updated At</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>CNP</th>
                                    <th>Transactions SUM</th>
                                    <th>Updated At</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}