{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>
    <style type="text/css">
        #datatable tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABLES SCRIPT -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            var table = $('#datatable').DataTable({
                 searching: false
                , columns: [
                    {data: "id", "searchable": false}
                    , {data: "access_token", "searchable": true}
                    , {data: "device_udid", "searchable": false}
                    , {data: "created_at", "searchable": false}
                ]
                , order: [[0, "desc"]]
                , processing: true
                , serverSide: true
                , ajax: {
                    url: '{{ backend_url('players/get_login_log') }}',
                    type: 'POST',
                    data: function (d) {
                        d.player_id = {{ player.account_id }};
                        d.columns[1].search.value = $('#search_by_token').val();
                        d.columns[2].search.value = $('#search_by_udid').val();
                    }
                }
            });
            function search(el, column) {
                $(el).bind('keyup', function (e) {
                    if (this.value.length >= 3 || e.keyCode == 13) {
                        // Call the API search function
                        table.column(column).search(this.value).draw();
                    }

                    // Ensure we clear the search if they backspace far enough
                    if (this.value == "")
                        table.column(column).search("").draw();

                    return;
                });
            }

            search('#search_by_token', 1);
            search('#search_by_udid', 2);
        });
    </script>
{% endblock %}

{% set active_page='players' %}
{% set breadcrumbs = [{'title': 'Players', 'link': 'players'}, {'title': player.account_id, 'link': ''}] %}

{% block content %}



    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Current player: {{ player.account_id }}</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="form-group col-sm-3">
                                <label for="search_by_id" class="control-label">Filter by Token</label>
                                <input type="text" id="search_by_token" class="form-control" name="search_by_token"
                                       placeholder="123" value=""/>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="search_by_name" class="control-label">Filter by Device UDID</label>
                                <input type="text" id="search_by_udid" class="form-control"
                                       name="search_by_udid"
                                       placeholder="alex" value=""/>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <table id="datatable" class="table table-bordered table-striped table-hover table-condensed" style="width: 100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Access Token</th>
                            <th>Device UDID</th>
                            <th>Created At</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Access Token</th>
                            <th>Device UDID</th>
                            <th>Created At</th>
                        </tr>
                        </tfoot>
                    </table>


                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
    </div>
{% endblock %}