{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>

    <style type="text/css">
        #datatable_filter, #hidden_form {
            display: none;
        }

        #datatable .div-check-send {
            width: 100%;
            text-align: center;
        }

        .notifications_buttons {
            padding-bottom: 10px;
        }

        .select_all {
            text-align: center;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block before_end_body %}
    {{ parent() }}
    <!-- DATA TABLES SCRIPT ... -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {

            var table = $('#datatable').DataTable({
                columns: [
                    {data: "sum", "searchable": false, "sortable": false}
                    , {data: "created_at", "searchable": false, "sortable": false}
                ]
                , order: [[1, "desc"]]
                , processing: true
                , serverSide: true
                , ajax: {
                    url: '{{ backend_url('dashboard/get_list') }}',
                    type: 'POST'
                }
                , language: {
                    search: "Search by CPN:"
                }
                , fnDrawCallback: function () {
                }
            });
        });
    </script>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Transactions sum by cron</h3>
                </div>
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-striped table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>SUM</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>SUM</th>
                            <th>Created At</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}