<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Admin {{ page_header }} - {{ page_desc }}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- Bootstrap 3.3.2 -->
        <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <!-- Font Awesome Icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet"
              type="text/css"/>
        <!-- Ionicons -->
        {#<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet"
              type="text/css"/>#}
        <!-- Theme style -->
        <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/css/AdminLTE.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
        <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/css/skins/skin-blue.min.css') }}" rel="stylesheet"
              type="text/css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .noresize {
                resize: none;
            }

            .vresize {
                resize: vertical;
            }

            .hresize {
                resize: horizontal;
            }
        </style>

        <script type="text/javascript">
            window.smartlook || (function (d) {
                var o = smartlook = function () {
                    o.api.push(arguments)
                }, s = d.getElementsByTagName('script')[0];
                var c = d.createElement('script');
                o.api = new Array();
                c.async = true;
                c.type = 'text/javascript';
                c.charset = 'utf-8';
                c.src = '//rec.getsmartlook.com/bundle.js';
                s.parentNode.insertBefore(c, s);
            })(document);
            smartlook('init', '27f4dfcfb3fd1245232eb635d7c3bdb289f1f9d7');
            smartlook('tag', 'email', '{{ _user.email }}');
            /*            smartlook('tag', 'name', 'John Doe');
             smartlook('tag', 'occupation', 'Developer');*/
        </script>

        {#<!-- Begin Inspectlet Embed Code -->
        <script type="text/javascript" id="inspectletjs">
            window.__insp = window.__insp || [];
            __insp.push(['wid', 1830445896]);
            (function() {
                function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
                setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
            })();

            __insp.push(['identify', "{{ _user.email }}"]);
        </script>
        <!-- End Inspectlet Embed Code -->#}
    {% endblock %}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|---------------------------------------------------------|

-->
<body class="skin-blue">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ backend_url() }}" class="logo"><b>Admin Panel</b></a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">

                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {#<li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image"/>
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li><!-- end message -->
                                </ul><!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>#}
                    <!-- /.messages-menu -->

                    <!-- Notifications Menu -->
                    {#<li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li><!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li><!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>#}
                    <!-- Tasks Menu -->
                    {#<li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- Inner menu: contains the tasks -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <!-- Task title and progress text -->
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <!-- The progress bar -->
                                            <div class="progress xs">
                                                <!-- Change the css width attribute to simulate progress -->
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>#}
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            {#<img src="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image"/>#}
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{ _user.email }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                {#<img src="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image" />#}
                                <p>
                                    {{ _user.first_name }} {{ _user.last_name }}
                                    <small>Created on: {{ _user.created_on|date('Y-m-d H:i:s') }}</small>
                                    <small>IP address: {{ _user.ip_address }}</small>
                                    <small>Last login: {{ _user.last_login|date('Y-m-d H:i:s') }}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            {#<li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>#}
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ backend_url('/users/edit') }}"
                                       class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ backend_url('auth/logout') }}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            {#        <div class="user-panel" style="color: #fff">
                            <h5>Project: With Your Memories</h5>
                    </div>#}

            <!-- search form (Optional) -->
            {#<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>#}
            <!-- /.search form -->

            <!-- Sidebar Menu -->

            <ul class="sidebar-menu">
                <li class="header">{{ application_name }}</li>
                {% include 'partials/sidebar_menu.twig' %}
            </ul>

            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>{{ page_header }}
                <small>{{ page_desc }}</small>
            </h1>

            {% if errors or messages %}
                <div>
                    <div class="box-body">
                        {% if errors %}
                            <div class="alert alert-danger">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                {{ errors|raw }}
                            </div>
                        {% endif %}
                        {% if messages %}
                            <div class="alert alert-info">
                                <h4><i class="icon fa fa-info"></i> Notify!</h4>
                                {{ messages|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}


            {% set last_link = false|default(last_link) %}
            <ol class="breadcrumb">
                <li><a href="{{ backend_url() }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last or last_link %}
                        <li><a href="{{ backend_url(breadcrumb.link) }}">{{ breadcrumb.title }}</a></li>
                    {% else %}
                        <li class="active">{{ breadcrumb.title }}</li>
                    {% endif %}
                {% endfor %}
            </ol>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            {% block content %}
            {% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Execution time: <span>{{ elapsed_time }}</span> Memory usage: <span>{{ memory_usage }}</span>
            Environment: <span>{{ constant('ENVIRONMENT')|upper }}</span>
            Cache: <span>{{ is_supported_memcached }}</span>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="{{ backend_url() }}">{{ application_name }}</a>.</strong> All rights
        reserved.
    </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{% block before_end_body %}
    <!-- jQuery 2.1.3 -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/jQuery/jQuery-2.1.3.min.js') }}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/bootstrap/js/bootstrap.min.js') }}"
            type="text/javascript"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
              Both of these plugins are recommended to enhance the
              user experience -->
    <!-- SlimScroll -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/slimScroll/jquery.slimscroll.min.js') }}"
            type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/plugins/fastclick/fastclick.min.js') }}"></script>

    <!-- AdminLTE App -->
    <script src="{{ base_url('assets/backend/AdminLTE-2.0.4/dist/js/app.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">

        // prepare page title for event name
        var page_title = '';
        $('section.content-header>h1').contents().each(function () {
            if (this.nodeType == 3) {
                page_title += $.trim(this.textContent) || $.trim(this.innerText) || '';
            } else {
                page_title += ' -> ' + $.trim($(this).text());
            }
        });

        console.log($(this).has('input[name=event_track_action]').length);

        // add event track hidden field to each form with submit button
        $('form').each(function (index) {

            if ($(this).has('[type=submit]').length) {

                // set event track with session_id
                if ($(this).has('input[name=event_track]').length == 0) {
                    $(this).append('<input type="hidden" name="event_track" value="{{ session_id() }}" />');
                }

                // set event track action with session_id
                if ($(this).has('input[name=event_track_page]').length == 0) {
                    $(this).append('<input type="hidden" name="event_track_page" value="{{ _current_url }}" />');
                }

                // set event track action with session_id
                if ($(this).has('input[name=event_track_action]').length == 0) {
                    $(this).append('<input type="hidden" name="event_track_action" value="submit" />');
                }

                // set event track name
                if ($(this).has('input[name=event_track_name]').length == 0) {
                    // $(this).closest('.box-body').find('.box-header>.box-title:first').text();

                    $(this).append('<input type="hidden" name="event_track_name" value="' + page_title + '" />');
                }
            }
        });


        function catch_confirm_btn() {
            $(".btn-confirm").on("click", function (event) {
                event.preventDefault();

                $(this).next().addClass('track-event');

                if ($(this).hasClass('btn-confirm-clicked')) {
                    $(this).next().addClass('hidden');
                    $(this).text($(this).data('text')).removeClass('btn-confirm-clicked').removeClass('btn-default').addClass('btn-danger');
                } else {
                    $(this).next().removeClass('hidden');
                    $(this).data('text', $(this).text());
                    $(this).text('Cancel').addClass('btn-confirm-clicked').removeClass('btn-danger').addClass('btn-default');
                }
            });
        }


        $(document).on("click", '.link-confirm', function () {
            $(this).next().addClass('track-event');
        });

        $(document).on("click", 'a.track-event', function (e) {
            var url = $(this).attr('href');
            var name = $(this).text();

            // remove main backend uri from url
            var backendUri = "{{ backend_url() }}";
            if(url.toLowerCase().indexOf(backendUri) >= 0)
                url = url.substring(backendUri.length);

            $.post("{{ backend_url() }}", {
                event_track: "{{ session_id() }}",
                event_track_page: "{{ _current_url }}",
                event_track_target: url,
                event_track_action: "link",
                event_track_name: name
            });
        });

        $(document).ready(function () {
            catch_confirm_btn();
        });
    </script>
{% endblock %}
</body>
</html>